div.grid-element {
   border: 1px solid black;
   flex-grow: 1;
}

div.filled-element{
    background-color: gray;
}

.grid-container{
    display: flex;
    width: 960px;
    height: 960px;
}

div.colored-element{
    background-color: red;
}

.grid-column{
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}